<%- include('partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        </div class="contact-box">
        <div class ="connect-left">
        <form>
            <h1>Contact Us</h1>
            <p>We would love to help with any issue you may have. </p>
            <div class="input-row">
                <div class="input-group">
                    <label>Name</label>
                    <input type ="text" placeholder="Portshowlio User">
                </div>
                <div class="input-group">
                    <label>Phone</label>
                    <input type="text" placeholder="+353 87 555 6677">
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label>Email</label>
                    <input type ="text" placeholder="contact@portshowlio.com">
                </div>
                <div class="input-group">
                    <label>Subject</label>
                    <input type="text" placeholder="Demo">
                </div>

            </div>
            <label id="mess">Message</label>
            <textarea rows="5" placeholder="Enter Your Message Here"></textarea>
                <div class="btn">
            <!--<input  type="submit" value="Send"></input>-->
            <li><a href="/homepage"class="btn">Send</a></li>
                </div>
        </form>

        </div>
        <div class="contact-right">
            <h3>Contact Us</h3>

            <table>
                <tr>
                    <td>Email</td>
                    <td>contactus@portwhowlio.ie</td>
                </tr>

                <tr>
                <td>Phone</td>
                <td>+353 87 555 6677</td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td>example address</td>
                </tr>

            </table>

            </div>
        </div>
    </div>
    </head>
</html>