<%- include('partials/header'); -%>
<header>
  <div class="smoothie">
    <img src="/lol.png" alt="">
  </div>
  <div class="headings">
    <h2>Investing made social</h2>
    <a href="/login" class="btn">log in</a>
  </div>
</header>
<%- include('partials/footer'); -%>